#foods_container
  %h1 All Foods

  = link_to 'New Food', new_food_path, class: "btn btn-success", data: { turbo_frame: "modal" }

  %table.table.table-hover
    %thead.thead-light
      %tr
        %th Name
        %th Supplier
        %th Storage Location
        %th Treat?
        %th{ colspan: "3" } Actions

    %tbody
      - @foods.each do |food|
        = render partial: 'foods/food_row', locals: { food: food }
